<head th:replace="Fragments/cabeza :: head"></head>
<head th:replace="Fragments/cabeza :: header"></head>
<head th:replace="Fragments/cabeza :: nav"></head>
<head th:replace="Fragments/cabeza :: section"></head>
	<!-- Main -->
			<div id="main" class="container">

				<!-- Elements -->
					<h2 id="elements">How many burgers?</h2>
					<div class="row 200%">
						<div class="6u 12u$(medium)">
							<h3>Cuantas hamburguesas crees que me comi?</h3>
						
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input name="cont" id="cont" type="text" value="" placeholder="Ingresa un numero:">
								</div>
								
								<div class="12u$">
									<ul class="actions">
										<li><input type="button" onclick="intenta()" value="Enviar" /></li>
										<li><input type="button" onclick="reinicia()" value="Reinicia" /></li>
									</ul>
								</div>
							</div>
				
			</div>
		</div>
	</div>
	
<footer th:replace="Fragments/pie :: footer"></footer>

<script>

	var random = Math.floor(Math.random() * 100)+1;
	var intentos = 0;
	function intenta(){
		intentos++;
		if($("#cont").val()==random){
			bootbox.alert("Acertaste!!! Comí "+random+" hamburguesas. :p");
			$("#cont").val("");
			
		}else if($("#cont").val()>random){
			bootbox.alert("No manches, no comí tanto!");
		}else if($("#cont").val()<random){
			bootbox.alert("No me subestimes!, comí un poco más.");	
		}
		console.log(random);
	}
	
	function reinicia(){
		bootbox.alert("Se reiniciará el juego");
		random = Math.floor(Math.random() * 100)+1;
		intentos = 0;
		$("#cont").val("");
	}

</script>

