<head th:replace="Fragments/cabezaNoSession :: head"></head>
<head th:replace="Fragments/cabezaNoSession :: nav"></head>
<head th:replace="Fragments/cabezaNoSession :: section"></head>
<div class="container">
	<h1>Juegos Eliminados</h1>
	<div class="row 200%">
		<div class="6u 12u$(medium)">
			<form th:action="@{../arcade/Paginas/eliminaJuego}">
					<fieldset>
						<legend>Los siguientes juegos fueron eliminados: </legend>
						<tr th:each="data, iterstat: ${mois}">
     						<li th:text="${data}" th:id="|td${iterstat.index}|"></li>
  						</tr>
  						<ul class="actions">	
  							<li><input type="Submit" value="Aceptar"></li>
  						</ul>
  					</div>
			</form>
		</div>
	</div>
</div>
<footer th:replace="Fragments/pie :: footer"></footer>