<head th:replace="Fragments/cabezaNoSession :: head"></head>
<head th:replace="Fragments/cabezaNoSession :: nav"></head>
<head th:replace="Fragments/cabezaNoSession :: section"></head>
<div class="container">
	<h1>Juego Insertado</h1>
	<div class="row 200%">
		<div class="6u 12u$(medium)">
			<form th:action="@{../arcade/Paginas/registraJuego}">
					<fieldset>
						<legend>El siguiente juego fue insertado con &eacute;xito</legend>
							<strong th:text="${gameName}"></strong>
							<strong th:text="${gameVers}"></strong>
  						<ul class="actions">	
  							<li><input type="Submit" value="Aceptar"></li>
  						</ul>
  					</div>
			</form>
		</div>
	</div>
</div>
<footer th:replace="Fragments/pie :: footer"></footer>