<head th:replace="Fragments/cabezaNoSession :: head"></head>
<head th:replace="Fragments/cabezaNoSession :: header"></head>
<head th:replace="Fragments/cabezaNoSession :: nav"></head>
<head th:replace="Fragments/cabezaNoSession :: section"></head>
	<!-- Main -->
			<div id="main" class="container">

				<!-- Elements -->
					<h2 id="elements">Flynn's Arcade Project</h2>
					<div class="row 200%">
						<div class="6u 12u$(medium)">
							<h3>Identificate</h3>
							<form>
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input name="login" id="login" type="text" value="" placeholder="Usuario">
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="passwd" type="password" id="password" placeholder="Password">
								</div>
								<div class="12u$">
									<ul class="actions">
										
									</ul>
								</div>
								
							</div>
				</form>
				<div>
					<input type="button" value="Enviar" onclick="validaUsuario()"/>
					<input type="reset" value="Borrar" class="alt" />
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="Fragments/pie :: footer"></footer>
	
	<script>
	

    function validaUsuario(){
      var dat = {login: $('#login').val(), password: $('#password').val()};
      console.log(dat);
        $.ajax({
          type: "POST",
          url: HOST+"api/Usuarios/validarAcceso",
          data: JSON.stringify(dat),
          crossDomain: true,
          dataType: "json",
          contentType: 'application/json' 
         
        }).done(function( data ) {
          console.log(data);
          switch(data){
            case 777:
              window.location = HOST+'Paginas/inicial';  
              break;
            case 745:
              alert('Tus credenciales son incorrectas.');
              break;
            default:
              break;
          }
        }).fail(function(data) {
          console.log(data);
          //operationError();
          alert("Servicio no disponible por el momento.");
        });         
    }

	
	
	</script>